@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 0px rgba(13, 148, 136, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(13, 148, 136, 0.9);
  }
}

.pulse-glow {
  animation: pulseGlow 2s infinite;
}
